In [5]:
import pandas as pd
import sqlalchemy
import tqdm
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
from IPython.display import display

engine = sqlalchemy.create_engine('mysql+mysqlconnector://root@localhost/nokiatwin')

In [6]:
haystack = pd.read_csv('/Users/tk/Documents/GitHub/nokia/nokia-twin/assets/country_regions_new.tsv',sep='\t')
haystack

                                   location       country
0                              Buenos Aires   Argentinia
1                                    Tirana      Albania
2                                 Melbourne    Australia
3                              North Sydney    Australia
4                                    Sydney    Australia
5                                  Brisbane    Australia
6                                    Vienna      Austria
7                                      Baku   Azerbaijan
8                                  Brussels      Belgium
9                                   Antwerp      Belgium
10                                    Dhaka   Bangladesh
11                         Manaus, Amazonas       Brazil
12                           Rio de Janeiro       Brazil
13             Belo Horizonte, Minas Gerais       Brazil
14                     São Paulo, São Paulo       Brazil
15                                  Goiânia       Brazil
16                              Belém, Pará       Brazil
17               Brasília, Federal District       Brazil
18                  Campina Grande, Paraíba       Brazil
19         Campo Grande, Mato Grosso do Sul       Brazil
20                                    Sofia     Bulgaria
21                               Kanata, ON       Canada
22                          Mississauga, ON        Canada
23                              Burnaby, BC       Canada
24                             Montreal, QC       Canada
25                              Calgary, AB       Canada
26                              Ontario, CA       Canada
27                              Toronto, ON       Canada
28                               Ottawa, ON       Canada
29                               Surrey, BC       Canada
...                                     ...           ...
2464                          Calle Blancos    Costa Rica
2465                                 Manama       Bahrain
2466                               Curitiba        Brazil
2467                                 Málaga         Spain
2468                                 Almaty    Kazakhstan
2469                                 Zürich   Switzerland
2470                                  Riyāḑ  Saudi Arabia
2471                                 Galway       Ireland
2472                             Karlskrona        Sweden
2473                               Adelaide     Australia
2474                                  İzmir        Turkey
2475                                 Muscat          Oman
2476                 San Francisco, Heredia    Costa Rica
2477                                Heredia    Costa Rica
2478                             Casablanca       Morocco
2479                                 Aachen       Germany
2480                                Cologne       Germany
2481                              Dübendorf       Germany
2482                            East London       Germany
2483                       Frankfurt (Oder)       Germany
2484  Glasow, Mecklenburg-Western Pomerania       Germany
2485                                Hamburg       Germany
2486                           Herzogenrath       Germany
2487                                Krefeld       Germany
2488                    Landau in der Pfalz       Germany
2489                    Neumarkt i. d. OPf.       Germany
2490                             Regensburg       Germany
2491                        Hyderābād Lines         India
2492                        Hyderābād, Sind         India
2493                    Indi, Uttar Pradesh         India

[2494 rows x 2 columns]

In [11]:
reviews = pd.read_sql_query("SELECT DISTINCT location, country FROM reviews_realign where country is NULL",
#reviews = pd.read_sql_query("SELECT DISTINCT location, country FROM reviews",
    engine)

for index, row in reviews.iterrows():
    needle = row['location']
    result = haystack.loc[haystack['location'] == needle]
    #display(result.values)
    if len(result.values) > 0:
        reviews.at[index,"country"] = result['country'].values.max()
        #reviews.at[index,"region"] = result['region'].values.max()
reviews.head(20)

                                   location country
0                           Bolton, England      UK
1                           London, England     UK
2                      Bournemouth, England      UK
3                                              None
4                     Dunfermline, Scotland      UK
5                     Chesterfield, England      UK
6                            Swansea, Wales      UK
7                              Neath, Wales      UK
8                          Enfield, England      UK
9    Rochester, South East England, England      UK
10                        Glasgow, Scotland      UK
11  Warrington, North West England, England      UK
12                           Cardiff, Wales      UK
13                         Tilbury, England      UK
14                        Coventry, England      UK
15                    Peterborough, England      UK
16                         Rugeley, England      UK
17                      Birmingham, England     UK
18                      Manchester, England      UK
19                          Widnes, England      UK

In [12]:
#update reviews that have a new entry in the DB

meta = MetaData()
students = Table(
   'reviews_realign', 
   meta, 
   Column('location', String), 
   Column('country', String), 
   #Column('region', String), 
)

conn = engine.connect()

for index, row in tqdm(reviews.iterrows(), total=reviews.shape[0]):
#for index, row in reviews.iterrows():
    if row["country"] is not None:
        
        #updated = {"country": row['country'], "region": row['region']}
        updated = {"country": row['country']}

        stmt=students.update().where(students.c.location==row['location']).values(updated)
        conn.execute(stmt)

In [189]:
#show what locations still have no country, ordered by how often they appear
df = pd.read_sql_query("SELECT location,COUNT(*) as count FROM reviews       WHERE country is null GROUP BY location ORDER BY count desc",
    engine)

for index, row in df.iterrows():
    print(row["location"])

Pasay, Pasay
Aachen
Abu Dhabi, Abu Dhabi
Algiers
San Juan, PR
Quito
Khartoum
Linköping
Kuwait City
Santo Domingo
Guwahati
Chandigarh
Taguig
Jeddah
Banga
Doha
Ang Mo Kio New Town, North-East
Ḩawwārah, Amman Governorate
Panamá
Dalian, Liaoning
Tripoli
Rijen
Yokohama, Kanagawa
Chatswood
San Salvador
Gdańsk
Waterford
Stoughton, MA
Tyson's Corner, Fairfax, VA
Kathmandu
Patna, Bihar
Ḩawallī
Dar es Salaam, Dar es Salaam
Guadalajara, Jalisco
Split
Vitória Brasil
Limerick, Limerick
Gur Gram
The Hague
Damascus
Herzogenrath
Cotonou
Shamshabad
Meerut
Querétaro, Querétaro
`Ammān
Kigali, Kigali
São José dos Campos, São Paulo
Raanana
Petaling Jaya
Pabianice, Lódz
Ghaziabad
Tongzhou, Beijing
Naples
Voorburg
Alexandria
Coimbatore South
Tashkent
Xi'an, Shaanxi
Makati City
Kabul
Rāwalpindi
Gurgaon, Uttar Pradesh
Malārd, Tehran
Winsen (Luhe)
Jakarta Pusat
Bern
Garching b.München
New Manila
Carrigaline
Łódź, Lódz
Umraniye, Istanbul
Jorvas
Ho Chi Minh City
Dakar
Ra`ananna
Katowice
Graben, Bavaria
New Lenox, IL
Bridgetown
Pretoria, Gauteng
Bogota, Cundinamarca
Tegucigalpa
South Twenty Four Parganas
Jammu, Jammu and Kashmir
Cebu City
Salvador, Bahia
Gorakhpur, Uttar Pradesh
Abuja, Niger
Xiamen, Fujian
Asia
Docklands
Vijayawāda
Fortaleza, Ceará
Guayaquil
Cyberjaya
Genoa
Montevideo
Prishtine
Taytay, Rizal
Haarlem
Punchbowl
Tāmi
Pasig City
Shunyi
Durgapur, West Bengal
Börde-Hakel
Thāne
Kottayam
Colombo
Gaborone
Herzliyya
Whitefield
Rosario, Santa Fe
Secunderābād
Samara, Samarskaya Oblast'
Subang Jaya, Selangor Darul Ehsan
Moorebank
Castel San Giovanni, Emilia-Romagna
Diliman, Quezon City
Recife, Pernambuco
Tel Aviv
Bhiwandi
Srīperumbūdūr
Cuautitlán, México
Sholinganallur
La Paz, La Paz
Chã Grande
Parramatta
Marathahalli
Minsk
Changping, Beijing
Vadodara
Pālanpur
Zaragoza
Lalitpur
Mādabā
Jāwā
Români
Campinas, São Paulo
Herzliya
Erbil
Malina
Haifa
Mentougou
Hamburg
Hyderābād, Sind
Skopje
Turin
Massy, Ile-de-France
Hoppers Crossing
Wuhan, Hubei
Perungudi
Raheny
Baile Átha Luain
Bārān
Kilkenny
Kota, Rajasthan
Farīdābād, Haryana
Chisinau
Nāgpur, Maharashtra
Lusaka, Lusaka
Chermside
Miri
Bondi
Guatemala
Visakhapatnam
Mysore
Ikast
Brno
Giza
Gudgaon
Taramani
Panama City
Castle Hill
Ban, Madhya Pradesh
Cuddapah
Canberra
Mānesar
Vercelli
Qumaym
Sandton
Āīzawl
Yerevan
Indo
Surat
Lincoln, IL
Douala
Shenzhengqiaocun
Kol
Patancheru
Lugazi, Kampala
Kazan
Tuas, West
North Ryde
Taichung
Hurstville Grove
Nguru, Yobe
Benglu
El Uaesed
Lyndhurst, Victoria
Grogol Selatan
San Fernando
Uusimaa
Shailer Park
Cheltenham, Victoria
Gaibanda
Wangaratta
Lāl Chāwk
SAS Nagar
Rye
Palembang, South Sumatra
Paço de Arcos
Erode
Makeyevka, Kyiv
Vigonza
Resende
Centurion
Hilversum
Al Aḩmadī
Tulancingo
San Fernando, Province of Cebu
Shezhen
Skō
Lanzhou, Gansu
Bogotá, San Andrés and Providence and
Phum Chenn
Lagunilla, Heredia
Trieste
Kitakyūshū
Siālkot, Punjab
Nong Ki
Āzamgarh
Taman South East Asia
Sevilla
Aha
Antalya
Jindalee
Surabaya
Irinjālakuda
Windhoek
Montpellier
Escazú
Rosh Ha`Ayin
Neumarkt i. d. OPf.
Rewa, Madhya Pradesh
Pekanbaru
Basel
Solna, Stockholm
Lekki, Ondo
Colombes
Cuddalore
Ufa, Bashkortostan
Taipa
Phnom Penh
Ballymote
Glasow, Mecklenburg-Western Pomerania
Male
Boulogne
Broadmeadows, Victoria
Mahadevpur
Zoetermeer
Fursungi
Cologne
Xianyang, Shaanxi
Wollongbar
Hamilton
New England
Jounieh
Bengulia
Kuwait
Sonipat
Bijing
Herrliberg
Phumĭ Preăh Pônléa, Phnom Penh
Jaffna
Maslak
Kfar Saba
Tindivanam
Anna Nagar
Maputo, Nampula
Griffith
Eranakulam
Makassar
Valencia, Valencian Community
Brest
Puducherry
Regensburg
Nå
Jodhpur, Rajasthan
São Luís, Maranhão
Managua
Saharsa
Nakuru
Kothur
Oliveira, Minas Gerais
Dongguan, Guangdong
Shenzhen, Fujian
Ludhiana
Thiruvananthapuram
Bologna
Tarragona
Stavanger
South Melbourne
Al Karm
Bass
Al Fuḩayḩīl
Khanpur, Delhi
Khobar
Caguas, PR
Dushanbe
Novi Sad
Lausanne
Portmore
Rohtak
Roma
Schiedam
Maracaibo
Pat, Jammu and Kashmir
Treviso
Puntarenas
Ikoyi, Lagos
Hyderābād Lines
Port of Spain, Saint George
Bengu
Poza Rica de Hidalgo
Dombivli
Haidian, Beijing
Maribyrnong
Tbilisi
Pānīpat
Coffs Harbour
Daegu
Bendunganmelayu Selatan
Voronezh, Voronezhskaya Oblast'
Dammam
Vilnius
Pisa
Francistown
East London
North Twenty Four Parganas
Knocknaheeny
Juba, Baḩr al Jabal
Ra‘ananna
Nor
Santa Cruz de la Sierra
Uppal
Barcelona, Anzoátegui
Chin-sha
Mohali, Punjab
Reynosa, Tamaulipas
Hāpur
Uberlândia
Shinjuku
Anyang, Cholla-bukto
Hosūr, Tamil Nadu
Eindhoven
Rāiganj
Santa Cruz de Tenerife
Pengerang
Hsinchu
Surat City
Kąty Wrocławskie
Cleveland, TN
Tampines New Town, East
Punggol, North-East
Venice
Cannanore
Marbella
Īkī Dām
Uppala
Las Rozas de Madrid
Chittagong
Meguro
Shenzhen, Shanghai
San Miguel de Tucumán
Kenwood, Harrison, OH
Oaxaca de Juárez
Tunis
Agropoli
Nadiad
Māldah
Concord, Lake, OH
Coro
Boyarka, Kyiv
West End
Port Elizabeth
Arifiye
Oviedo
Wantirna
Kurnool
Katrineholm, Södermanland
California, Santander
Tsim Sha Tsui, Kowloon City
Stein, Limburg
Paianía
Tarlac, Tarlac
Dar el Beïda, Algiers
Drogheda
Dnipropetrovsk
Morocco
Clonmel
Leuven
IndiraNagar
Doncaster
Bahir Dar
Erina
Negril
Alajuela
Västerås, Västmanland
Chongqing, Chongqing
Orchard, Central
Asaba, Delta
Krefeld
Muzaffarpur, Bihar
Kollam
Kazakh
Indi, Uttar Pradesh
Surendranagar
Sirmaur
Svizevo
Yaoundé
Leb
Gosselies
Bogo, Province of Cebu
Dededo, GU
Wayanad
Asuncion, Central
Roman
Beijigou
Rotterdam
Kermānshāh, Kermanshah
Harare
Five Dock
Haryāna
Madurai
Cupo
Abū Rawwāsh
Mandaluyong City
Wangjing, Beijing
Vasai, Maharashtra
Davao
Bamako, Bougouriba
Zamora
Karlstad
Beijin, Shaanxi
Ichikawa, Chiba
Sarajevo
J.P. Nagar, 3rd Phase
Viña del Mar
Kharkiv
Queenstown Estate, Central
Ulaanbaatar
Copacabana
Zapopan
Monza
Unknown
Marlow Heights, Prince George's, MD
Ginza
Dübendorf
Dhanbād
Gunnedah
San Alfonso
Gatton
Tirupati
Sunshine
Sembawang Estate, North
Rājshāhi
Little Bray
Margaon
Al Jubayl
Älvsjö
Tagui
Coto Brus
Paralākhemundi
Johor Bahru
Gampaha, Western
Kfely
Castanhal, Pará
Sharjah
Lyon
San Pedro Sula
Nalgonda
Les Abymes
Hadapsar
Wollongong
White Field
Berne, Lower Saxony
Tema, Greater Accra
Middle Village, Otsego, NY
Ebène
Goregaon
La Plata
Shimla, Himachal Pradesh
San José, Heredia
Esch-sur-Alzette
Oaxaca
Irkutsk
Lviv
Cartago
Salo, Eastern Finland
Dominica
Navsāri
Sorocaba, São Paulo
Warszew
Makhachkala
Yeshwanthpur
Port Stephens
Novena, Central
Mashhad, Khuzestan
Indaiatuba
Shīrāz, Fars
Causeway Bay
Hawthorn
Kireka
Basti
Garden City
Port of Spain
Tabuk
Poznań, Greater Poland
Kinshasa
Quesada, Alajuela
Lilongwe
Kanpur Nagar
Port Louis
Cobh
Ampang, Selangor Darul Ehsan
Mani Mājra, Chandigarh
South West
Petaling
Matola, Maputo Province
Tabriz, West Azarbaijan
Egypt, Etowah, AL
Medellín, Antioquia
Bihar, Madhya Pradesh
Rhodes
Palmas, Tocantins
Kampong Batang Duri
Wenzhou, Zhejiang
Hampton Park
Wallisellen
Darling Harbour
Ryde
Godhra
Cherthala
Kolhāpur, Maharashtra
Jammāl
Barceloneta, PR
Tezpur
Gwalpara
San Francisco, San Jose
Nilambūr
Chennūr
Kānpur, Uttar Pradesh
Trujillo, La Libertad
Jaipur, Maharashtra
North & Middle Andaman
Oulunsuu
Sapporo
Frankfurt (Oder)
Üsküdar
Ḩayl, Dubai
Thanjāvūr
Shah Alam
Malerkotla
Ferntree Gully
Idkū
George Town
Södertälje
Mālūr, Karnataka
Wallsend
Bandon
Altona North
Ushuaia
Victoria
Kuala Lumur
Craiova, Dolj
Bucuresti
Mem
Pandharpur
Vladivostok
Lima, Arequipa
Quatre Bornes
Caracas
Mangalore
Lod
Srikalahasti
Milwa
Ekpoma
Bangluo, Gansu
North West
Āgra, Uttar Pradesh
Nambucca Heads
Gold Coast
Landau in der Pfalz
Udaipur, Rajasthan
Clichy
Lighthouse Point, Broward, FL
Guiyang, Guizhou
Manil
Bareilly
Bur Dubai
Toijala
Nashik
Gävle
Duisburg
Macapá, Amapá